*{
padding: 0px;
margin: 0px;
}
body {
background-color: #edf0f5;
}
header {
	background: #415e9b;
	height: 82px;
	border-bottom: 1px solid #133783;
}
.header-block{
	width: 992px;
	margin: 0 auto;
	padding-top: 20px;
}
.logo{
	width: 60%;
	float: left;
}
.fblogin{
	width: 40%;
	float: left;

}
.logo img {
	padding-top: 20px;
	padding-bottom:30px;  
}
.header-block label{
	color: #fff;
}
.email {
	float: left;
}
.email label{
	padding-bottom: 10px;
		font-size: 15px;
	font-family: Calibri;
}
.email input[type="text"] {
height: 20px;
width: 150px;
border: 1px solid #1d2a5b;
}
.password{
	float: left;
	margin-left: 15px;
}
.password input[type="password"] {
height: 20px;
width: 150px;
border: 1px solid #1d2a5b;
} 
.password a{
	color: #8fb1d8;
	text-decoration: none;
}
.password label{
	padding-bottom: 10px;
			font-size: 15px;
	font-family: Calibri;
}
.loginbutton {
	float: left;
	margin-top: 18px;
	margin-left: 20px;
}
.loginbutton button[type="submit"]{
	background: #4267b2;
	border: 1px solid #29487d;
	border-radius: 2px;
	color: #fff;
	height: 23px;
	width: 50px;
}
.clearfix{
	clear: both;
}
.content-block{
	width: 992px;
	margin: 0 auto;
}
.seelogo img{
	width: 450px;
}
.fb-connect{
	margin-top: 50px;
	width: 59%;
}
.fb-connect p{
	color: #333333;
	font-size: 32px;
	font-family: Calibri;
	font-weight: bold;
	padding-top: 10px;
}
.create-account{
	width: 41%;
	float: right;
	margin-top: -360px;
}
.create-account h2{
	font-family: Calibri;
	font-weight: bold;
	font-size: 38px;
	color: #333333;
}
.create-account p{
	font-family:Calibri;
	font-size: 20px;
	color: #333333;
	padding-bottom: 20px;
}
.terms a{
	text-decoration: none;
	font-size: 14px;
}
.terms p{
	font-size: 14px;
	color: #777777;
}
.account label{
	font-family:Calibri;
	color: #90949c;
	font-size: 18px;
	font-weight: bold;
}
.flname input {
	margin-right: 6px;
	height: 40px;
	width: 190px;
	border: 1px solid #bdc7d8;
	border-radius: 5px;
	font-size: 20px;
	color: #999999;
}
.mobileoremail input{
    margin-top: 10px;
	height: 40px;
	width: 392px;
	border: 1px solid #bdc7d8;
	border-radius: 5px;
	font-size: 20px;
	color: #999999;
}
.newpassword input{
margin-top: 10px;
	height: 40px;
	width: 392px;
	border: 1px solid #bdc7d8;
	border-radius: 5px;
	font-size: 20px;
	color: #999999;
}
.bday select{
	margin-top: 6px;
	margin-bottom: 10px;
	margin-right: -6px;
	border: 1px solid #bdc7d8;
	height: 30px;
	width: 72px;
}
.gender {

}
.signup {
	background-color: yellowgreen;
	height: 20px;
	width: 20px;
}
.gender label{

}
.gernder input{
	
}